 <!-- <p>Logged In as <i><b>'<%#= current_user.name %>'</b></i></p> -->
<div class="alert alert-success fade in"><%= notice %></div>
<div class="row-fluid">
  <div class="span3">
    <%= link_to raw("<i class='icon-ok'></i> New Product"), new_product_path,:class=>'btn btn-primary' -%>
  </div>
  <%= link_to raw("<i class='icon-off'> Logout</i>"),  destroy_user_session_path, :method => "delete", :title => "Logout of Application" ,:class=>'btn btn-success pull-right'-%>
</div>

<%= will_paginate @products, :remote => true %>
 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Expiry</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
     <% @products.each do |prod|  %>
        <tr>
          <td><%= prod.name.downcase %></td>
          <td><%= prod.product_code.presence ? prod.product_code : "-" %></td>
          <td><%= prod.location %></td>
          <td><%= prod.expiry_date.strftime('%d/%m/%Y') %></td>
          <td><%= prod.price%></td>
          <td><%= link_to raw("<i class='icon-edit'></i> Edit"), edit_product_path(prod.id),  :title => "Edit this Record",:class=>'btn btn-primary' -%> </td>
          <td><%= link_to raw("<i class='icon-trash'></i> Delete"), prod,  :title => "Edit this Record",method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-danger' -%> </td>
        </tr>
      <% end %>
</table>  